body{
    direction: rtl
    ;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin-left: 2em;
}
#idb{
    display: none;
}

@media only screen and (max-width: 1000px) and (min-width: 40px){
    nav{
        display: none;
    }
    ul{
        display: block;
        align-items: center;
    }
    #idb{
        display: block;
        font-size: 1em;
        background: transparent;
        padding: 10px;
        margin: 10px;
    }
}
